<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Forbidden!</h1>
    <p>You are not allowed to access this page!</p>

<%- include('includes/end.ejs') %>