<main>
    {{#if hasProducts }}
        <ul class="cart__item-list">
            {{#each products}}
                <li class="cart__item">
                    <h1>{{this.title}}</h1>
                    <h2>Quantity: {{this.cartItem.quantity}}</h2>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="{{this.id}}" name="productId">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
            </li>
            {{/each}}
        </ul>
        <hr>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
    {{else}}
        <h1>No Products in Cart!</h1>
    {{/if}}
</main>